/* --General-- */
html{
    cursor: url("../img/toast.png"), default;
    cursor: url("../img/toast.png"), pointer;
}

body{
    background: url("../img/Flag.png");
    background-size: cover;
    position: relative;
}

/* --Nixon-- */

/* --McGovern-- */
/* ---- */
/* ---- */
/* ---- */