/* --General-- */
html{
    /* cursor: url("../img/toast.png"), default;
    cursor: url("../img/toast.png"), pointer; */
    border-color: black;
}

body{
    background: url("../img/Flag.png"); 
    background-size: cover;
    position: relative;
}
area{
    display: none;
    cursor: url('..img/toast.png'), pointer;
}
#voteNixon{
    background: #bb0000;
    color: #ffffff;
    animation: redBlip 1s infinite ease-in-out;
    animation-play-state: paused;
}
#voteMcGovern{
    background: #0000aa;
    color: #fdfdfd;
    animation: blueBlip 1s infinite ease-in;
    animation-play-state: paused;
}
#select{
    width: 110%;
    height: 20%;
}
#nixonField{
    border-right: red solid;
    border-bottom: red solid;
}
#mcGovernField{
    border-left: blue solid;
    border-bottom: blue solid;
    position: relative;
    overflow: hidden;
}

  #butter {
    position: absolute;
    transition: all .3s;
  }